*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.gz
*.toc

catkin_ws/build/
catkin_ws/install/
catkin_ws/devel/

catkin_ws/src/realsense-ros/realsense2_camera/.vscode/settings.json
catkin_ws/src/**/.vscode
catkin_ws/src/**/__pycache_
catkin_ws/src/**/*.png
catkin_ws/src/**/build
catkin_ws/src/**/.cmake
catkin_ws/src/realsense-ros/realsense2_camera/scripts/__pycache__/rs2_listener.cpython-38.pyc
catkin_ws/.vscode/c_cpp_properties.json
catkin_ws/.vscode/browse.vc.db-shm
catkin_ws/.vscode/browse.vc.db-wal
catkin_ws/.vscode/browse.vc.db
catkin_ws/planeIGuess.txt
catkin_ws/src/plane-detection/src/CAPE/LICENSE
catkin_ws/src/plane-detection/src/CAPE/CAPE/.DS_Store
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.sln
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.v11.suo
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.vcxproj
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.vcxproj.filters
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.vcxproj.user
