*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.gz
*.lof
*.toc
catkin_ws/src/plane-detection/src/EVAL/bags
catkin_ws/build/
catkin_ws/install/
catkin_ws/devel/

catkin_ws/src/realsense-ros/realsense2_camera/.vscode/settings.json
catkin_ws/src/**/.vscode
catkin_ws/src/**/__pycache_
catkin_ws/src/**/*.png
catkin_ws/src/**/build
catkin_ws/src/**/.cmake
catkin_ws/src/realsense-ros/realsense2_camera/scripts/__pycache__/rs2_listener.cpython-38.pyc
catkin_ws/.vscode/c_cpp_properties.json
catkin_ws/.vscode/browse.vc.db-shm
catkin_ws/.vscode/browse.vc.db-wal
catkin_ws/.vscode/browse.vc.db
catkin_ws/planeIGuess.txt
catkin_ws/src/plane-detection/src/EVAL/AlgoBinaries
catkin_ws/src/plane-detection/src/EVAL/pointclouds
catkin_ws/src/plane-detection/src/EVAL/Stanford3dDataset_v1.2_Aligned_Version
catkin_ws/src/plane-detection/src/CAPE/LICENSE
catkin_ws/src/plane-detection/src/CAPE/CAPE/.DS_Store
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.sln
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.v11.suo
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.vcxproj
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.vcxproj.filters
catkin_ws/src/plane-detection/src/CAPE/CAPE/CAPE.vcxproj.user
Document/.vscode/settings.json
catkin_ws/.vscode/settings.json
catkin_ws/src/plane-detection/src/EVAL/Stanford3dDataset_v1.2_Aligned_Version/
catkin_ws/src/plane-detection/src/EVAL/pointclouds/boiler_room.con
catkin_ws/src/plane-detection/src/EVAL/pointclouds/boiler_room.pcl
catkin_ws/src/plane-detection/src/EVAL/pointclouds/box.con
catkin_ws/src/plane-detection/src/EVAL/pointclouds/box.pcl
catkin_ws/src/plane-detection/src/EVAL/pointclouds/box.txt
catkin_ws/src/plane-detection/src/EVAL/pointclouds/box.xyz
catkin_ws/src/plane-detection/src/EVAL/pointclouds/computer.con
catkin_ws/src/plane-detection/src/EVAL/pointclouds/computer.pcl
catkin_ws/src/plane-detection/src/EVAL/pointclouds/museum.con
catkin_ws/src/plane-detection/src/EVAL/pointclouds/museum.pcl
catkin_ws/src/plane-detection/src/EVAL/pointclouds/plane0.txt
catkin_ws/src/plane-detection/src/EVAL/pointclouds/plane1.txt
catkin_ws/src/plane-detection/src/EVAL/pointclouds/plant.con
catkin_ws/src/plane-detection/src/EVAL/pointclouds/plant.pcl
catkin_ws/src/plane-detection/src/EVAL/pointclouds/room.con
catkin_ws/src/plane-detection/src/EVAL/pointclouds/room.pcl
catkin_ws/src/plane-detection/src/EVAL/pointclouds/utrecht.con
catkin_ws/src/plane-detection/src/EVAL/pointclouds/utrecht.pcl
catkin_ws/src/plane-detection/src/EVAL/__pycache__/classes.cpython-38.pyc
.gitignore
catkin_ws/src/plane-detection/src/EVAL/__pycache__/fileio.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/__pycache__/evaluator.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/__pycache__/classes.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/__pycache__/evaluator.cpython-38.pyc
.gitignore
catkin_ws/src/**/FIN-Dataset
catkin_ws/src/plane-detection/src/EVAL/__pycache__/fileio.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/visualizer.py
catkin_ws/src/plane-detection/src/EVAL/__pycache__/visualizer.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/__pycache__/evaluate.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/home/home.ply
catkin_ws/src/plane-detection/src/EVAL/__pycache__/batchEvaluation.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/__pycache__/dynamic_eval.cpython-38.pyc
catkin_ws/src/plane-detection/src/EVAL/test.geo
catkin_ws/src/plane-detection/src/EVAL/RSPD/test.geo
.gitignore
.gitignore
catkin_ws/src/plane-detection/src/EVAL/test.py
catkin_ws/src/plane-detection/src/EVAL/test_dyn.py
*.pgf
